{:builds
 {:app {:asset-path "/js"
        :modules {:main {:init-fn blacksmith.core/main
                         :preloads [devtools.preload
                                    day8.re-frame-10x.preload
                                    shadow.remote.runtime.cljs.browser]}}
        :dev {:closure-defines {re_frame.trace.trace_enabled_QMARK_ true
                                day8.re_frame.tracing.trace_enabled_QMARK_ true}}
        :devtools {:watch-dir "resources/public"}
        :output-dir "resources/public/js"
        :target :browser}}
 :dependencies [[arttuka/reagent-material-ui "4.11.0-4"]
                [bidi "2.1.6"]
                [binaryage/devtools "1.0.2"]
                [cljs-ajax "0.8.1"]
                [com.cemerick/url "0.1.1"]
                [day8.re-frame/http-fx "0.2.1"]
                [day8.re-frame/re-frame-10x "0.7.0"]
                [day8.re-frame/tracing "0.6.0"]
                [kibu/pushy "0.3.8"]
                [reagent "0.10.0"]
                [re-frame "1.1.2"]]
 :nrepl {:port 3333}
 :source-paths ["src/cljs" "src/cljc"]}
